{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "linebreak-style": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/prop-types": 1,
    "no-shadow": 0
  },
  "globals": {
    "window": true,
    "document": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
